html {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(100, 100, 100);
}

.credit {
    color: lime;
    font-size: 1em;
    font-family: 'Press Start 2P', sans-serif;
}

.credit a {
    color: yellow;
}

.cli {
    background-color: black;
    width: 70%;
    height: 500px;
    max-height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 12pt;
}

.cli.retro {
    font-family: 'Press Start 2P', sans-serif;
    color: lime;
}